# Tutorial 01: SQL

**The goal of this tutorial is to answer 10 questions about movies using SQL queries.**

The database is stored on a SQLite file and populated from a subset of IMDB datasets.

Note that you should not order your results if the question does not mention it !

__Grade Scale__: 20 points
* correct answer: 2 point
* incorrect answer: 0 point

__Further documentations__:

* https://www.imdb.com/interfaces/
* http://www.tutorialspoint.com/sqlite/
* https://learnxinyminutes.com/docs/python/
* https://docs.python.org/3/library/sqlite3.html
* https://www.dataquest.io/blog/jupyter-notebook-tutorial/

# Core

In [1]:
# import sqlite from standard library
import sqlite3

# initialize a connection to the database
DB = sqlite3.connect("imdb.sqlite")

# create a helper function to execute a query
def Q(query):
    """Return the first 50 rows from a query."""
    return DB.execute(query).fetchmany(50)

# Examples

In [2]:
# print the table names
Q("SELECT name FROM sqlite_master WHERE type='table'")

[('names',),
 ('basics',),
 ('akas',),
 ('ratings',),
 ('writers',),
 ('directors',),
 ('principals',)]

In [3]:
# print the table columns
for (name,) in Q("SELECT name FROM sqlite_master WHERE type='table'"):
    print("Table: {}".format(name))
    for column in Q("PRAGMA table_info('{}')".format(name)):
        print(column)
    print()

Table: names
(0, 'nconst', 'TEXT', 1, None, 1)
(1, 'primaryName', 'TEXT', 1, None, 0)
(2, 'birthYear', 'INTEGER', 0, None, 0)
(3, 'deathYear', 'INTEGER', 0, None, 0)
(4, 'primaryProfession', 'TEXT', 1, None, 0)
(5, 'knownForTitles', 'TEXT', 0, None, 0)

Table: basics
(0, 'tconst', 'TEXT', 1, None, 1)
(1, 'titleType', 'TEXT', 1, None, 0)
(2, 'primaryTitle', 'TEXT', 1, None, 0)
(3, 'originalTitle', 'TEXT', 0, None, 0)
(4, 'isAdult', 'BOOLEAN', 1, None, 0)
(5, 'startYear', 'INTEGER', 0, None, 0)
(6, 'endYear', 'INTEGER', 0, None, 0)
(7, 'runtimeMinutes', 'INTEGER', 0, None, 0)
(8, 'genres', 'TEXT', 0, None, 0)

Table: akas
(0, 'titleId', 'TEXT', 1, None, 1)
(1, 'ordering', 'INTEGER', 1, None, 2)
(2, 'title', 'TEX', 1, None, 0)
(3, 'region', 'TEXT', 0, None, 0)
(4, 'language', 'TEXT', 0, None, 0)
(5, 'types', 'TEXT', 0, None, 0)
(6, 'attributes', 'TEXT', 0, None, 0)
(7, 'isOriginalTitle', 'BOOLEAN', 0, None, 0)

Table: ratings
(0, 'tconst', 'TEXT', 1, None, 1)
(1, 'averageRating', 'REAL', 1, None, 0)
(2, 'numVotes', 'INTEGER', 0, None, 0)

Table: writers
(0, 'tconst', 'TEXT', 1, None, 1)
(1, 'nconst', 'TEXT', 1, None, 2)

Table: directors
(0, 'tconst', 'TEXT', 0, None, 1)
(1, 'nconst', 'TEXT', 0, None, 2)

Table: principals
(0, 'tconst', 'TEXT', 1, None, 1)
(1, 'ordering', 'INTEGER', 1, None, 2)
(2, 'nconst', 'TEXT', 1, None, 0)
(3, 'category', 'TEXT', 1, None, 0)
(4, 'job', 'TEXT', 0, None, 0)
(5, 'characters', 'TEXT', 0, None, 0)

In [4]:
# count the number of persons
Q("SELECT COUNT(*) from names")

[(107346,)]

In [5]:
# return the name of the first 10 actors
Q("SELECT primaryName FROM names LIMIT 10")

[('Humphrey Bogart',),
 ('Cary Grant',),
 ('Alfred Hitchcock',),
 ('Elvis Presley',),
 ('Raquel Welch',),
 ('Henner Hofmann',),
 ('Brad Pitt',),
 ('Woody Allen',),
 ('Gillian Anderson',),
 ('Pamela Anderson',)]

In [6]:
# use triple-quote to execute a long query
Q("""
SELECT m.primaryTitle, n.primaryName
FROM writers as w
INNER JOIN names AS n on w.nconst = n.nconst
INNER JOIN basics AS m ON w.tconst = m.tconst
LIMIT 10
""")

[('The Wandering Soap Opera', 'Raoul Ruiz'),
 ('The Wandering Soap Opera', 'PÃ­a Rey'),
 ('Joe Finds Grace', 'Anthony Harrison'),
 ('Bunyan and Babe', 'Michael A. Nickles'),
 ('Bunyan and Babe', 'Julia Wall'),
 ('The Evil Within', 'Andrew Getty'),
 ('Boy with a Movie Camera', 'Martiros Vartanov'),
 ('The Promise of Perfume', 'Pavlina Proevska'),
 ('Clawed', 'Steve Taylor'),
 ('Clawed', 'Rahul Chatterjee')]

In [7]:
# if an exception occurs, don't panic !
# read the error message, find the cause and fix the query
# in this case, the table 'movies' does not exist, use 'basics' instead

# uncomment to see the error
# Q("SELECT * FROM movies;")

**This diagram shows the structure of a SELECT statement.**

Find more at this address: https://www.sqlite.org/lang_select.html

![SELECT](https://www.sqlite.org/images/syntax/select-stmt.gif)

# QUESTIONS

__1. How many movies are contained in the database ?__ 
- _hint_: use the COUNT operator in the SELECT clause
- _return_: COUNT (aggregate value)
- _tables_: basis

In [8]:
def Q1():
    ### BEGIN SOLUTION
    return Q("""
    SELECT COUNT(*) FROM basics
    """)
    ### END SOLUTION

Q1()

[(18199,)]

In [9]:
assert len(Q1()) == 1
assert len(Q1()[0]) == 1
### BEGIN HIDDEN TESTS
assert Q1() == [(18199,)]
### END HIDDEN TESTS

__2. What are the primary title and start year of the first 10 movies ?__
- _hint_: use the LIMIT clause to return a fix number of row
- _return_: primaryTitle, startYear
- _tables_: basis

In [10]:
def Q2():
    ### BEGIN SOLUTION
    return Q("""
    SELECT primaryTitle, startYear FROM basics LIMIT 10
     """)
    ### END SOLUTION

Q2()

[('The Wandering Soap Opera', 2017),
 ('Bigfoot', 2017),
 ('Joe Finds Grace', 2017),
 ('Bunyan and Babe', 2017),
 ('The Evil Within', 2017),
 ('Boy with a Movie Camera', 2017),
 ('The Promise of Perfume', 2017),
 ('Clawed', 2017),
 ('Wonder Woman', 2017),
 ('The Only Living Boy in New York', 2017)]

In [11]:
assert len(Q2()) == 10
assert all(len(row) == 2 for row in Q2())
### BEGIN HIDDEN TESTS
assert Q2() == [
    ('The Wandering Soap Opera', 2017),
    ('Bigfoot', 2017),
    ('Joe Finds Grace', 2017),
    ('Bunyan and Babe', 2017),
    ('The Evil Within', 2017),
    ('Boy with a Movie Camera', 2017),
    ('The Promise of Perfume', 2017),
    ('Clawed', 2017),
    ('Wonder Woman', 2017),
    ('The Only Living Boy in New York', 2017),
]
### END HIDDEN TESTS

__3. What are the 10 first distinct principals category sorted alphabetically (A -> Z)?__
- _hint_: use the ORDER BY clause to sort results in ascending order
- _return_: distinct category
- _tables_: principals

In [12]:
def Q3():
    ### BEGIN SOLUTION
    return Q("""
    SELECT distinct category FROM principals ORDER BY category LIMIT 10
    """)
    ### END SOLUTION

Q3()

[('actor',),
 ('actress',),
 ('archive_footage',),
 ('archive_sound',),
 ('cinematographer',),
 ('composer',),
 ('director',),
 ('editor',),
 ('producer',),
 ('production_designer',)]

In [13]:
assert len(Q3()) == 10
assert all(len(row) == 1 for row in Q3())
### BEGIN HIDDEN TESTS
assert Q3() == [
    ('actor',),
    ('actress',),
    ('archive_footage',),
    ('archive_sound',),
    ('cinematographer',),
    ('composer',),
    ('director',),
    ('editor',),
    ('producer',),
    ('production_designer',)
]
### END HIDDEN TESTS

__4. Which persons are born after 1990 (excluded) and died ?__
- _hint_: use the AND operator to combine query conditions
- _return_: primaryName, birthYear, deathYear
- _tables_: names

In [14]:
def Q4():
    ### BEGIN SOLUTION
    return Q("""
    SELECT primaryName, birthYear, deathYear FROM names
    WHERE birthYear > 1990 AND deathYear IS NOT NULL
    """)
    ### END SOLUTION

Q4()

[('Michael Brown', 1996, 2014),
 ('Maple Batalia', 1992, 2011),
 ('Egor Klinaev', 1999, 2017),
 ('August Ames', 1994, 2017),
 ('Joe Beer', 1997, 2017)]

In [15]:
assert len(Q4()) == 5
assert all(len(row) == 3 for row in Q4())
### BEGIN HIDDEN TESTS
assert Q4() == [
    ('Michael Brown', 1996, 2014),
    ('Maple Batalia', 1992, 2011),
    ('Egor Klinaev', 1999, 2017),
    ('August Ames', 1994, 2017),
    ('Joe Beer', 1997, 2017),
]
### END HIDDEN TESTS

__5. What are the title and language of movies in German (de) or Dutch (nl) ?__
- _hint_: use the OR operator to combine query conditions
- _return_: title, language
- _tables_: akas

In [16]:
def Q5():
    ### BEGIN SOLUTION
    return Q("""
    SELECT title, language FROM akas
    WHERE language = 'nl' OR language = 'de'
    """)
    ### END SOLUTION

Q5()

[('Schneemann', 'de'),
 ('My Little Pony: De Film', 'nl'),
 ('Vom Ende einer Geschichte', 'de'),
 ('Detektiv Conan: Der purpurrote Liebesbrief', 'de'),
 ('Leaning into the Wind - Andy Goldsworthy', 'de'),
 ('Immer noch eine unbequeme Wahrheit: Unsere Zeit lÃ¤uft', 'de'),
 ('Er Sie Ich', 'de'),
 ('PokÃ©mon de Film: Ik Kies Jou!', 'nl'),
 ('Little Heroes', 'de'),
 ('Didi Contractor - Leben im Lehmhaus', 'de'),
 ('Die Gentrifizierung bin ich. Beichte eines Finsterlings', 'de')]

In [17]:
assert len(Q5()) == 11
assert all(len(row) == 2 for row in Q5())
### BEGIN HIDDEN TESTS
assert Q5() == [
    ('Schneemann', 'de'),
    ('My Little Pony: De Film', 'nl'),
    ('Vom Ende einer Geschichte', 'de'),
    ('Detektiv Conan: Der purpurrote Liebesbrief', 'de'),
    ('Leaning into the Wind - Andy Goldsworthy', 'de'),
    ('Immer noch eine unbequeme Wahrheit: Unsere Zeit lÃ¤uft', 'de'),
    ('Er Sie Ich', 'de'),
    ('PokÃ©mon de Film: Ik Kies Jou!', 'nl'),
    ('Little Heroes', 'de'),
    ('Didi Contractor - Leben im Lehmhaus', 'de'),
    ('Die Gentrifizierung bin ich. Beichte eines Finsterlings', 'de'),
]
### END HIDDEN TESTS

__6. What are the director, movie name and runtime of the first 10 movies whose runtime > 120 ?__
- _hint_: you should combine INNER JOIN and WHERE clauses
- _return_: names.primaryName, basics.primaryTitle, basics.runtimeMinutes
- _tables_: directors, basics, names

In [18]:
def Q6():
    ### BEGIN SOLUTION
    return Q("""
    SELECT primaryName, primaryTitle, runtimeMinutes FROM directors
    INNER JOIN basics ON directors.tconst = basics.tconst
    INNER JOIN names ON directors.nconst = names.nconst
    AND basics.runtimeMinutes > 120 LIMIT 10
    """)
    ### END SOLUTION

Q6()

[('Patty Jenkins', 'Wonder Woman', 141),
 ('Brad Batchelor', 'Alexander Jamieson', 135),
 ('Alexander Payne', 'Downsizing', 135),
 ('Andy Muschietti', 'It', 135),
 ('Tommy Wirkola', 'What Happened to Monday', 123),
 ('Bruce Isacson', 'South Dakota', 127),
 ('Benny Boom', 'All Eyez on Me', 139),
 ('Jan Verheyen', 'Control', 127),
 ('Niki Caro', "The Zookeeper's Wife", 127),
 ('Joachim RÃ¸nning', 'Pirates of the Caribbean: Dead Men Tell No Tales', 129)]

In [19]:
assert len(Q6()) == 10
assert all(len(row) == 3 for row in Q6())
### BEGIN HIDDEN TESTS
assert Q6() == [
    ('Patty Jenkins', 'Wonder Woman', 141),
    ('Brad Batchelor', 'Alexander Jamieson', 135),
    ('Alexander Payne', 'Downsizing', 135),
    ('Andy Muschietti', 'It', 135),
    ('Tommy Wirkola', 'What Happened to Monday', 123),
    ('Bruce Isacson', 'South Dakota', 127),
    ('Benny Boom', 'All Eyez on Me', 139),
    ('Jan Verheyen', 'Control', 127),
    ('Niki Caro', "The Zookeeper's Wife", 127),
    ('Joachim RÃ¸nning', 'Pirates of the Caribbean: Dead Men Tell No Tales', 129) ,
]
### END HIDDEN TESTS

__7. Which birth years are associated to more than 500 persons (excluded) ?__
- _hint_: use the HAVING clause to filter aggregation result
- _return_: birthYear, COUNT (aggregated value)
- _tables_: names

In [20]:
def Q7():
    ### BEGIN SOLUTION
    return Q("""
    SELECT birthYear, COUNT(birthYear) FROM names
    GROUP BY birthYear HAVING COUNT(birthYear) > 500
    """)
    ### END SOLUTION

Q7()

[(1976, 502), (1979, 531), (1980, 520), (1982, 503)]

In [21]:
assert len(Q7()) == 4
assert all(len(row) == 2 for row in Q7())
### BEGIN HIDDEN TESTS
assert Q7() == [
    (1976, 502),
    (1979, 531),
    (1980, 520),
    (1982, 503),
]
### END HIDDEN TESTS

__8. What are the first 10 pair of persons born the same year and after 2000 ?__
- _hint_: find an appropriate condition for the INNER JOIN clause
- _return_: primaryName, primaryName
- _tables_: names, names

In [22]:
def Q8():
    ### BEGIN SOLUTION
    return Q("""
    SELECT n1.primaryName, n2.primaryName FROM names as n1
    INNER JOIN names as n2 ON n1.birthYear = n2.birthYear AND n1.birthYear > 2000
    LIMIT 10
    """)
    ### END SOLUTION

Q8()

[('Alec Coulouris', 'Alec Coulouris'),
 ('Alec Coulouris', 'Dixie Egerickx'),
 ('Alec Coulouris', 'Ella Anderson'),
 ('Alec Coulouris', 'Eun-hyung Jo'),
 ('Alec Coulouris', 'Fantine Harduin'),
 ('Alec Coulouris', 'Farrah Mackenzie'),
 ('Alec Coulouris', 'FÃ©lix Bossuet'),
 ('Alec Coulouris', 'Gabriel Albuquerque'),
 ('Alec Coulouris', 'Jessica Cherniak'),
 ('Alec Coulouris', 'Maddie Dixon-Poirier')]

In [23]:
assert len(Q8()) == 10
assert all(len(row) == 2 for row in Q8())
### BEGIN HIDDEN TESTS
assert Q8() == [
    ('Alec Coulouris', 'Alec Coulouris'),
    ('Alec Coulouris', 'Dixie Egerickx'),
    ('Alec Coulouris', 'Ella Anderson'),
    ('Alec Coulouris', 'Eun-hyung Jo'),
    ('Alec Coulouris', 'Fantine Harduin'),
    ('Alec Coulouris', 'Farrah Mackenzie'),
    ('Alec Coulouris', 'FÃ©lix Bossuet'),
    ('Alec Coulouris', 'Gabriel Albuquerque'),
    ('Alec Coulouris', 'Jessica Cherniak'),
    ('Alec Coulouris', 'Maddie Dixon-Poirier') ,
]
### END HIDDEN TESTS

__9. For which movie title does 'Run-yin Bai' is known for, ordered by movie title ?__
- _hint_: don't spend too much time on this question if it is too hard
- _return_: primaryName, primaryTitle
- _tables_: names, basis

In [24]:
def Q9():
    ### BEGIN SOLUTION
    return Q("""
    SELECT primaryName, primaryTitle FROM names
    INNER JOIN basics ON names.knownForTitles LIKE '%' || basics.tconst || '%'
    WHERE primaryName = 'Run-yin Bai'
    ORDER BY primaryTitle
    """)
    ### END SOLUTION

Q9()

[('Run-yin Bai', 'A Fish Out of Water'),
 ('Run-yin Bai', 'Mr. Long'),
 ('Run-yin Bai', 'See You After Life'),
 ('Run-yin Bai', 'The Bold, the Corrupt, and the Beautiful')]

In [25]:
assert len(Q9()) == 4
assert all(len(row) == 2 for row in Q9())
### BEGIN HIDDEN TESTS
assert Q9() == [
    ('Run-yin Bai', 'A Fish Out of Water'),
    ('Run-yin Bai', 'Mr. Long'),
    ('Run-yin Bai', 'See You After Life'),
    ('Run-yin Bai', 'The Bold, the Corrupt, and the Beautiful'),
]
### END HIDDEN TESTS

__10. How many directors are not writers ?__
- _hint_: use the EXCEPT operator to perform a difference on two result sets
- _return_: COUNT (aggregate value)
- _tables_: writers, directors

In [26]:
def Q10():
    ### BEGIN SOLUTION
    return Q("""
    SELECT COUNT(*) FROM (
        SELECT nconst FROM directors
        EXCEPT
        SELECT nconst FROM writers
    )
    """)
    ### END SOLUTION

Q10()

[(8550,)]

In [27]:
assert len(Q10()) == 1
assert len(Q10()[0]) == 1
### BEGIN HIDDEN TESTS
assert Q10() == [(8550,)]
### END HIDDEN TESTS